{
  "extends": "stylelint-config-primer",
  "rules": {
    "selector-class-pattern": [
      "^(?!(js\\-))[a-z\\-\\_0-9]+$",
      {
        "message": "Selector should be written in lowercase with hyphens (selector-class-pattern)"
      }
    ]
  }
}
