.list-item--button {
  width: 100%;
  border: 0;
  outline: none;
}

.setting {
  text-decoration: none;
  cursor: pointer;
  background: none;

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.12);
  }

  :global(.material-icons) {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 32px;
    vertical-align: middle;
  }
}
