/* stylelint-disable selector-max-specificity, selector-max-compound-selectors */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Roboto");

:root {
  font-family: Roboto, Helvetica, Noto, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}

:global {
  .mdl-navigation__link {
    text-align: left;
    cursor: pointer;
    user-select: none;
    background: none;
    border: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  .mdl-layout__drawer .mdl-navigation {
    flex: 1;

    .mdl-layout-spacer + .mdl-navigation__link {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mdl-navigation__link {
      padding: 16px;

      .material-icons {
        margin-right: 16px;
      }
    }
  }
}
