/* Global styles go in this file */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Roboto");

:root {
  background: #fefefe;
}

:global {
  button.mdl-navigation__link {
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .mdl-navigation__link {
    user-select: none;
  }

  .mdl-navigation {
    flex: 1;

    .mdl-layout-spacer + .mdl-navigation__link {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .mdl-navigation__link > .material-icons {
    margin-right: 32px;
  }

  .mdl-js-layout.has-drawer.mdl-layout:not(.is-small-screen) {
    .mdl-layout__drawer {
      width: 300px;
    }

    .mdl-layout__inner-container {
      & > .mdl-layout__content {
        margin-left: 300px;
      }
      & > .mdl-layout__header {
        margin-left: 300px;
        width: calc(100% - 300px)
      }
    }
  }
}
